.idea/
.sass-cache/
build
examples/**/api/.gitignore
examples/**/build
examples/**/dist
examples/**/docs
examples/**/jspm_packages
examples/**/report
node_modules
test/subtasks/build
test/subtasks/dist
test/subtasks/docs
test/subtasks/report
test/integration/modes/**/dist
test/integration/modes/**/build
test/integration/modes/**/api/.gitignore
test/subtasks/uglify/app.min.js
xunit.xml
